<h1>Position Form</h1>
<form action="/position/entry" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Code</label>
        <input type="text" class="form-control" id="" placeholder="Enter Position Code" name="Code">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" id="" placeholder="Enter Position Name" name="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Level</label>
        <input type="text" class="form-control" id="" placeholder="Please Enter Level" name="Level">
    </div>
    <input type="submit" value="Submit" />
    <input type="reset" value="Cancle" />
</form>