<h1>Department Form</h1>
<form action="/department/entry" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Code</label>
        <input type="text" class="form-control" id="" placeholder="Enter Depatment Code" name="Code">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" id="" placeholder="Enter Depatment Name" name="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Extension Phone</label>
        <input type="number" class="form-control" id="" placeholder="Enter Extension Phone" name="ExtensionPhone">
    </div>
    <input type="submit" value="Submit" />
    <input type="reset" value="Cancle" />
</form>