<h1>Attendance Policy Form</h1>
<form action="/attendancepolicy/entry" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control"  name="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Number Of Late Time</label>
        <input type="number" class="form-control" name="NumberOfLateTime">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Number Of Early Out Time</label>
        <input type="number" class="form-control" name="NumberOfEarlyOutTime">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Deduction In Amount</label>
        <input type="number" class="form-control" name="DeductionInAmount">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Deduction In Day</label>
        <input type="number" class="form-control" name="DeductionDay">
    </div>
    <input type="submit" value="Submit" />
    <input type="reset" value="Cancle" />
</form>