<h1>Shift Form</h1>
<form action="/shift/entry" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" name="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">In Time</label>
        <input type="time" class="form-control" name="InTime" >
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Out Time</label>
        <input type="time" class="form-control" name="OutTime">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Late After</label>
        <input type="time" class="form-control" name="LateAfter">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Early Out Before</label>
        <input type="time" class="form-control" name="EarlyOutBefore">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Attendance Policy</label>
        <select name="AttendancePolicyId" class="form-select">
            <option value="x" selected>--select policy--</option>
            @foreach (var policy in ViewBag.AttendancePolicy)
            {
                <option value="@policy.Id">@policy.Name</option>
            }
        </select>
    </div>
    <input type="submit" value="Submit" />
    <input type="reset" value="Cancle" />
</form>